body {
	font-family: 'Inter', sans-serif;
}

.list-group {}

.list-group .list-group-item {
	display: flex;
	align-items: center;
	padding-top: 16px;
	padding-bottom: 16px;
}

.list-group .list-group-item svg {
	display: inline-block;
	margin-right: 10px;
	stroke-width: 1.5px;
	width: 28px;
	height: 28px;
}
.list-group .list-group-item:hover svg {
	transition: all .60s ease-in-out;
}


.list-group .list-group-item svg.icon-tabler-brand-opera { color: #cc0f16; }
.list-group .list-group-item:hover svg.icon-tabler-brand-opera { fill: rgba(204, 15, 22, 0.2); }
.list-group .list-group-item svg.icon-tabler-brand-telegram { color: #0088cc; }
.list-group .list-group-item:hover svg.icon-tabler-brand-telegram { fill: rgba(0, 136, 204, 0.2); }
.list-group .list-group-item svg.icon-tabler-brand-twitch { color: #9146ff; }
.list-group .list-group-item:hover svg.icon-tabler-brand-twitch { fill: rgba(145, 70, 255, 0.2); }
.list-group .list-group-item svg.icon-tabler-brand-whatsapp { color: #075e54; }
.list-group .list-group-item:hover svg.icon-tabler-brand-whatsapp { fill: rgba(7, 94, 84, 0.2); }
.list-group .list-group-item svg.icon-tabler-brand-windows { color: #0078d7; }
.list-group .list-group-item:hover svg.icon-tabler-brand-windows { fill: rgba(0, 120, 215, 0.2); }
.list-group .list-group-item svg.icon-tabler-brand-twitter { color: #1da1f2; }
.list-group .list-group-item:hover svg.icon-tabler-brand-twitter { fill: rgba(29, 161, 242, 0.2); }
.list-group .list-group-item svg.icon-tabler-brand-android { color: rgba(164, 198, 57, 1); }
.list-group .list-group-item:hover svg.icon-tabler-brand-android { fill: rgba(164, 198, 57, 0.2); }
.list-group .list-group-item svg.icon-tabler-brand-adobe { color: rgba(255, 0, 0, 1); }
.list-group .list-group-item:hover svg.icon-tabler-brand-adobe { fill: rgba(255, 0, 0, 0.2); }
.list-group .list-group-item svg.icon-tabler-brand-vimeo { color: rgba(26, 183, 234, 1); }
.list-group .list-group-item:hover svg.icon-tabler-brand-vimeo { fill: rgba(26, 183, 234, 0.2); }
.list-group .list-group-item svg.icon-tabler-brand-youtube { color: rgba(255, 0, 0, 1); }
.list-group .list-group-item:hover svg.icon-tabler-brand-youtube { fill: rgba(255, 0, 0, 0.2); }

