body {
	font-family: 'Inter', sans-serif;
	font-size: 16px;
	color: #FFD460;
	background: #222831;
}


.figure {
	display: block;
	position: relative;
	/* padding: 12px; */
	background: #393E46;
	border-radius: 8px;
	/* box-shadow: 0 .5rem 1rem rgba(0,0,0,.15); */
	box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
	margin-bottom: 30px;
	transition: all .30s ease-in-out;
}
.fig-media {
	display: block;
	width: 100%;
	border-radius: 8px;
	box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
	transform: scaleX(0.9) scaleY(0.92);
	transition: all .30s ease-in-out;
}
.figcaption {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	display: none;
}
.figure:hover .fig-media {
	/* padding: 0; */
	transform: scale(1);
}