.btn {
	$button-font-weight: 400;
	$button-background: #FFFFFF;
	$button-padding-y: 14px;
	$button-padding-x: 20px;
	$button-border-width: 1px;
	$button-border-style: solid;
	$button-border-color: transparent;
	&:hover {}
	&:active,
	&:focus {}
	&.btn-primary {
		$button-primary-background:;
		$button-primary-background-hover:;
		$button-primary-background-active:;
		$button-primary-border-color:;
		&:hover {}
		&:active,
		&:focus {}
	}
	&.btn-secondary {
		$button-secondary-background:;
		$button-secondary-background-hover:;
		$button-secondary-background-active:;
		$button-secondary-border-color:;
		&:hover {}
		&:active,
		&:focus {}
	}
}