@import './resets';
@import './variables';



body {
	color: $text-color;
	background: $body-color;
}

.hero {
	width: 80%;
	border: 1px solid #E5E5E5;
	padding: 16px;
	margin: 0 auto;

	p {
		margin-bottom: 16px;
	}
}