*,
*:before,
*:after {
	box-sizing: border-box;
}

body {
	margin: 0;
}

section {
	padding: 40px 0;
}

.container {
	width: 100%;
	max-width: 1000px;
	border: 1px solid #000000;
	padding: 0 15px;
	margin: 0 auto;
}

.swiper {
	/* width: 600px; */
	/* height: 360px; */
}

.swiper-pagination {}
.swiper-pagination-bullet {
	color: #FFFFFF;
	width: 16px;
	height: 16px;
	background-color: blueviolet;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 1px;
}

.carousel-box {
	height: 360px;
	display: flex;
	align-items: center;
	justify-content: center;
}